doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 0media
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    #content
      h2 
        | 零傳媒
        small  / 0media.tw
      .panel.panel-default.thumbs
        .panel-body
          h4 
            | 新聞專題
            small  / 與新聞 E 論壇合作之專案
          a.thumb(href="/p/yslin/")
            img(src="/p/yslin/thumbnail-lg.jpg")
            .title 繫上歷史記憶的黃絲帶 - 林義雄數位專輯
          a.thumb(href="/p/vchief/")
            img(src="/p/vchief/thumbnail-lg.jpg")
            .title 最熟悉的陌生人 - 村里長知多少
          a.thumb(href="/p/6bulbs/")
            img(src="/p/6bulbs/thumbnail-lg.jpg")
            .title 五都市長連任秀 - 政見評審團你來當

      .panel.panel-default.thumbs
        .panel-body
          h4 報導樣版
          a.thumb(href="/t/geoevent/")
            img(src="/t/geoevent/thumbnail-lg.jpg")
            .title Map Based Events Visualization
          a.thumb(href="/t/qa/")
            img.bordered(src="/t/qa/thumbnail-lg.jpg")
            .title QA-Style Long Form Journalism
      .sep
      #footer
        h3 相關連結
        ul
          li: a(href="https://www.facebook.com/groups/284238305064510/") 0media facebook group
          li: a(href="https://g0v.hackpad.com/-0media-B3tCT7FmOVq") 0media 簡介文件
          li: a(href="http://hackfoldr.org/0media") 0media hackfolder
          li: a(href="http://newseforum.com/") 新聞 E 論壇

